<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Blog Project", root_path, class: "navbar-brand" %>
   
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "My Articles", articles_path, class: "nav-link" %>
        </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link" href="#">Users</a>
      </li>
    </ul>

    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <% if user_signed_in? %>
      <div>
        <%= link_to "Profile", edit_user_registration_path, class: "btn btn-outline-primary ms-3" %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger" %>
      </div>
    <% else %>
      <div>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-primary ms-3" %>
        <%= link_to "Sign in", new_user_session_path, class: "btn btn-outline-success" %>
      </div>
    <% end %>
  </div>
</nav>
